*{
    font-family:"Quicksand", sans-serif;
}
body{
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
     background-attachment: fixed;
     
}
.head{ 
    margin-left: 490px;
    width:1010px;
    color: black;
}
.crt{
    margin-bottom: 30px;
    padding-top: 30px;
}
.barbtn{
    float: right;
    height: 70px;
    width: 70px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    background-color: white;
    margin-top: 10px;
    border-radius: 50%;
}
.lg{
  transform: translate(25px,25px);
}
.main{
    display: flex;
    justify-content: center;
}
.dev{
    font-size: 26px;
    font-weight: bold;
    font-family: cursive;
}
.logo{
    font-size: 26px;
}
.card {
    height: 369.011px;
    width: 290px;
    padding: 30px 20px 20px 20px;
    background-color: #7ecbc0;
    margin-right: 50px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.primary {
    text-align: center;
}

.farnaz {
    width: 100%;
    display: inline-block;
    cursor: pointer;
    width:195px;
    height: 195px;
    border-radius: 50%;
}
.web{
    font-family: 'Quicksand';
}
.social{
    float: left;
}
.social li {
    display: inline-block;
    margin: 5px 12px;
    color: black;
}
.fab{
    font-size: 19px !important;

}
.widget{
    width: 290px;
    height: 129.45px;
    display: block;
    background-color: white;
    padding: 20px;  
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
}
.trans{
   transform: translate(50px,50px);
}
.btn {
    width: 193.114px;
    height: 45.4545px;
    padding: 12px 35px;
    text-align: center;
    background-color:#7ecbc0;
    border-radius: 35px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    
}
.paper {
    height: 1307.36px;
    width: 800px;
    padding: 40px 20px 20px 20px;
    background-color: white;
    margin-right: 10px;
   /* margin-top: 30px; */
   letter-spacing: 0.08em;
}
.hi{
    font-size: 30px;
    display: block;
    margin-bottom: 50px;
    margin-top: 10px;
    font-family:Quicksand, sans-serif; 
}
.padd{
    margin-bottom: 22px;
    letter-spacing: 1.28px;
    line-height: 30px;
    font-size: 16px;
}
.btnshare{
    /* width: 138.307px;
    height: 38.1818px; */
    border: 2px solid #7ecbc0 ;
    margin-right: 10px;
    text-align: center;
    font-size: 15px;
    padding: 8px 25px;
    border-radius: 35px;
    cursor: pointer;
    display: inline-block;
    color: black;
    margin-bottom: 80px;
}
.erst{
    border-bottom: 1px solid #bfbfbf;
}
.btnshare:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
}
.tleft{
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
    width: 40%;
    

}
.information{
    font-size: 21.06px;
    font-weight: 400;
    margin-bottom: 33.9336;
    color: rgb(117,117,117);
    letter-spacing: 1.28px;
}
.info{
    float: left;
    font-size: 12.96px;
    font-weight: 1200;
    letter-spacing: 0.1296px;
    line-height: 22.4px;
    width: 100%;
    
}
.dd{
    margin-left: 112px;
    margin-bottom: 8.1072px;
    font-size: 14.4px;
    font-weight: 300;
    letter-spacing: 1.28px;
    line-height: 22.4px;
}

.bullet , .bull{
    width: 15px;
    height:15px;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    display: inline-block;
    line-height: 16.32px;
}
.bullet{
    background-color:#7ecbc0 ;
    border-color: #7ecbc0;
}
.bull{
    border-color: #7ecbc0;
}
.tright{
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
  
}
.languages{
    font-size: 21.06px;
    font-weight: 400;
    margin-bottom: 33.9336;
    color: rgb(117,117,117);
    letter-spacing: 1.28px;
    margin-left: 30px;
}
.tright li{
    list-style-type: none;
}
.lan{
    font-size: 13.6px;
    font-weight: bolder;
    margin-bottom: 0.7em;
    letter-spacing: 1.28px;
    line-height: 16.32px;
}
.ll{
    margin-bottom: 22px;
    line-height: 16.32px; 
}
.line{
    border-top: 1px solid #bfbfbf ;
    clear: left;
     
}
.lskills{
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    /* margin-top: 15px; */
    width: 40%;
}

 .sk{
   
    /* font-size: 12.96px; */
    font-weight: bold;
    letter-spacing: 0.1296px;
    line-height: 22.4px;
    width: 100%;
    list-style-type: none;
    margin-bottom: 30px;
 
}
.add{
    font-size: 21.06px;
    font-weight: 400;
    margin-bottom: 150px;
    color: rgb(117,117,117);
    letter-spacing: 1.28px;
}


.nav {
    height: 344px;
    width: 56px;
    float: none;
}
 .nav li {
    display: block;
    font-size: 28px !important;
    margin-left: 10px;
    padding-bottom: 25px;
}
 .f{
     padding-left: 11px;
 }

.photo{
    width: 42px;
    height: 42px;
    padding-top: 15px;
}

.photo img{
    width: 100%;
    border-radius: 50%;
}
